@import url('https://fonts.googleapis.com/css2?family=Shojumaru&family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    @apply bg-background-color mx-auto;
    height: 100vh;
    display: grid;
    grid-template:
        "navbar" 60px
        "body" 1fr
        "footer" 50px
}
nav{
    grid-area: navbar;
}
main{
    overflow: auto;
    grid-area: body;
    @apply mx-32 my-5 p-10 relative;
    background: rgb(168,224,227);
    background: linear-gradient(180deg, rgba(168,224,227,1) 0%, rgba(10,145,152,0) 100%);
    border-radius: 22px;
}
footer{
    grid-area: footer;
}

.home-game-button{
    @apply w-3/5 relative p-1 font-shojumaru text-button-outline border-4 border-button-outline bg-background-color rounded-2xl text-[22px] text-center;
    @apply hover:bg-[#4AA8A8] hover:text-white hover:shadow-inner hover:border-[#032F2F] duration-300;

}