 .div {
 }

 .div-zeroTimer {
	color: white;
	font-size: 40px;
	font-family: Tiro Telugu;
	font-weight: 400;
	line-height: 32px;
	word-wrap: break-word
 }

 .div-timer {
	color: white;
	font-size: 40px;
	font-family: Tiro Telugu;
	font-weight: 400;
	line-height: 32px;
	word-wrap: break-word;
 }
 
  .div-8 {
    border-radius: 22px;
    background: linear-gradient(180deg, #a8e0e3 0%, rgba(10, 146, 153, 0) 100%);
    align-self: center;
    display: flex;
    margin-top: 37px;
    width: 100%;
    max-width: 950px;
    flex-direction: column;
    padding: 21px 37px 50px;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-9 {
    align-self: end;
    display: flex;
    margin-right: 0px;
    width: 625px;
    max-width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    font-size: 50px;
    color: #003939;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    line-height: 64%;
  }
  @media (max-width: 991px) {
    .div-9 {
      margin-right: 10px;
      flex-wrap: wrap;
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-10 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Titan One, sans-serif;
    border-radius: 15px;
    border: 3px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    flex-grow: 1;
    justify-content: center;
    padding: 10px 10px;
  }
  @media (max-width: 991px) {
    .div-10 {
      max-width: 100%;
      font-size: 40px;
      white-space: initial;
    }
  }
  .img-3 {
    aspect-ratio: 1.03;
    object-fit: auto;
    object-position: center;
    width: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .div-11 {
    margin-top: 3px;
    padding: 2px 2px;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
    }
  }
  .div-12 {
    gap: 50px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-12 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 21%;
    margin-left: -100px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-13 {
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    color: #032f2f;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
  }
  @media (max-width: 991px) {
    .div-13 {
      margin-top: 38px;
      white-space: initial;
    }
  }
  .div-player1 {
    border-radius: 15px;
    background-color: rgba(246, 246, 246, 1);
    border: 3px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    padding: 6px 15px;
    font: 20px/140% Short Stack, sans-serif;
  }
  @media (max-width: 991px) {
    .div-player1 {
      white-space: initial;
    }
  }
  .div-score1 {
    border-radius: 20px;
    border: 3px solid var(--MainMenuColors-font, #000);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #f6f6f6;
    margin-top: 11px;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    font: 70px/40% Short Stack, sans-serif;
  }
  @media (max-width: 991px) {
    .div-score1 {
      font-size: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .column-stage {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 100%;
  }
  @media (max-width: 991px) {
    .column-stage {
      width: 100%;
    }
  }
  .img-stage {
    aspect-ratio: 0.96;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-stage {
      max-width: 100%;
      margin-top: 20px;
    }
  }
  
  .guess-box {
    color: var(--MainMenuColors-font, #000);
    text-align: center;
    align-self: center;
	margin-top: 100px;
    font: 400 60px/40% Short Stack, sans-serif;
  }
  @media (max-width: 991px) {
    .guess-box {
      max-width: 100%;
      font-size: 8px;
    }
  }
  
  .word-display {
	display: flex;
	gap: 10px;
	list-style: none;  
  }
  
  .word-display .letter {
	width: 50px;
	font-size: 3rem;
	color: #003939;
	font-weight: 400;
	font-family: Titan One;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 35px;
	border-bottom: 5px solid #000;
	line-height: 48px;
	word-wrap: break-word;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	-webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: var(--MainMenuColors-primary, #fff);
    flex-grow: 1;
  }
  
  .word-display .letter.guessed {
    border-color: transparent;
	margin: -40px 0 35px;
  }
  
  @media (max-width: 991px) {
    .word-display .letter.guessed {
      font-size: 40px;
    }
  }
  
  
  .div-17 {
    display: flex;
    margin-top: 70px;
	cursor: pointer;
    justify-content: space-between;
    gap: 2px;
    font-size: 50px;
    color: var(--MainMenuColors-font, #000);
    font-weight: 400;
    white-space: nowrap;
    line-height: 64%;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-a {
    font-family: Titan One, sans-serif;
    border-radius: 10px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-a {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-b {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-b {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-c {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-c {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-d {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.91;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-d {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-e {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-e {
      font-size: 40px;
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-f {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-f {
      font-size: 40px;
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-g {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-g {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-h {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-h {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-i {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-i {
      font-size: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-j {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.91;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-j {
      font-size: 40px;
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-k {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-k {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-l {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-l {
      font-size: 40px;
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-m {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-m {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-31 {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    font-size: 50px;
    color: var(--MainMenuColors-font, #000);
    font-weight: 400;
    white-space: nowrap;
    line-height: 64%;
    margin: 20px 0 50px;
  }
  @media (max-width: 991px) {
    .div-31 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-bottom: 40px;
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-32 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-32 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-33 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-33 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-34 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-34 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-35 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-35 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-36 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-36 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-37 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-37 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-38 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-38 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-39 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-39 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-40 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-40 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-41 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-41 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-42 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-42 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-43 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-43 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-44 {
    font-family: Titan One, sans-serif;
    border-radius: 14px;
    border: 7px solid var(--MainMenuColors-font, #000);
    background-color: #f6f6f6;
    aspect-ratio: 0.9;
    justify-content: center;
    padding: 10px;
  }
  @media (max-width: 991px) {
    .div-44 {
      font-size: 40px;
      white-space: initial;
    }
  }
