<footer class="bg-footer-background w-full p-3 px-5">
    <div class="flex justify-between items-center">
        <!-- Logo -->
        <div class="flex items-center">
            <img src="/images/dd_logo.png" alt="Digital Dominators Logo" class="footer-logo">
            <a class="font-shortStack self-center text-footer-link-color ml-2">Copyright@DigitalDominators</a>
        </div>
        
        <div>
            <a class="font-shortStack self-center text-footer-link-color underline mr-4">About</a>
            <div class="font-shortStack self-center text-footer-link-color underline">Privacy Policy</div>
        </div>
    </div>
</footer>
