<footer class="bg-footer-background w-full p-3 px-5">
    <div class="flex justify-between items-center h-full">
        <!-- Logo and copyright -->
        <div class="flex items-center">
            <img src="/images/dd_logo.png" alt="Digital Dominators Logo" class="footer-logo">
            <a class="font-shortStack self-center text-footer-link-color ml-2">Copyright@DigitalDominators</a>
        </div>

        <!-- Links -->
        <div class="flex">
            <a href="about.html" class="font-shortStack text-footer-link-color underline mr-4">About</a>
            <a href="privacy.html" class="font-shortStack text-footer-link-color underline">Privacy Policy</a>
        </div>
    </div>
</footer>
