<nav class="p-5 pt-1 border-b-4 border-divider-color">
    <div class="flex justify-between items-center w-full">
        <!-- Dropdown menu on the left -->
        <div class="dropdown">
            <button class="menu-button flex-none text-nav-text-color text-[15px] font-shortStack self-center nav-item-hover dropdown-toggle">
                <span class="hamburger-icon">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
                Menu
            </button>
            <div class="dropdown-content" style="display: none;">
                <!-- Dropdown content here -->
                <a href="/settings">Settings</a>
                <a href="/Leaderboard">Leaderboard</a>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
        </div>

        <!-- Hangman title on the right -->
        <a class="flex-none font-shojumaru text-logo-color text-[35px] title-hover" href="/">
            Hangman
        </a>
    </div>
</nav>
