<nav class="p-5 pt-1 border-b-4 border-divider-color">
    <div class="flex justify-between items-center w-full">
        <!-- Image on the left for the dropdown menu -->
        <div class="menu-container flex-none">
            <img src="/images/MenuDropDown.png" alt="Menu" class="menu-button nav-item-hover" style="cursor: pointer;">
            <!-- Dropdown Content -->
            <div class="dropdown-content" style="display: none;">
                <a href="/settings">Settings</a>
                <a href="/leaderboard">Leaderboard</a>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
        </div>
        <!-- Title Container for centering -->
        <div class="flex-grow flex justify-center">
            <a class="font-shojumaru text-logo-color text-[35px] title-hover" href="/" style="margin: 0;">
                Hangman
            </a>
        </div>

        <!-- Placeholder div to balance the flex space -->
        <div class="flex-none" style="width: 200px;"> <!-- Match the width of the .menu-button -->
            <!-- You can place invisible content here or just use it as a spacer -->
        </div>

        <!-- Image on the right -->
        <div class="flex-none">
            <img src="/images/PersonSquare.png" alt="Person" class="person-square-img" style="width: 40px; height: auto;">
        </div>
    </div>
</nav>
